In [474]:
import pandas as pd
import os

In [475]:
folder_path = 'D:/Big_Data_Project/data/'

In [476]:
df1=pd.read_csv(f'{folder_path}2017_2019_도로교통공단_광진구_행정동별_교통사고_현황.csv')
df2=pd.read_csv(f'{folder_path}LED바닥형 신호등.csv')
df3=pd.read_csv(f'{folder_path}공영주차장.csv')
df4=pd.read_csv(f'{folder_path}무인교통단속카메라.csv')
df5=pd.read_csv(f'{folder_path}서울시 광진구 안심이 CCTV 연계 현황.csv')
#df6=pd.read_csv(f'{folder_path}서울시 광진구 초등학교 기본정보.csv')
df7=pd.read_csv(f'{folder_path}서울시 범죄지도를 이용한 광진구 범죄율.csv')
df8=pd.read_csv(f'{folder_path}서울특별시 광진구_불법주정차 위반 단속 CCTV 위치정보_20220502.csv')
df9=pd.read_csv(f'{folder_path}시설관리공단 공영주차장.csv')
df10=pd.read_csv(f'{folder_path}어린이보호구역.csv')
df11=pd.read_csv(f'{folder_path}어린이집.csv')
df12=pd.read_csv(f'{folder_path}인구현황.csv')
# + 면적 관련 데이터

In [477]:
df1.rename(columns={'법정동명':'행정동'},inplace=True)

In [478]:
df1

     행정동  사고건수
0    광장동   284
1   구의1동   204
2   구의2동   204
3   구의3동   204
4    군자동   273
5     능동   134
6   자양1동   206
7   자양2동   206
8   자양3동   206
9   자양4동   206
10  중곡1동   139
11  중곡2동   139
12  중곡3동   139
13  중곡4동   139
14   화양동   457

In [479]:
df2.rename(columns={'동명':'행정동'},inplace=True)

In [480]:
df2=df2.groupby('행정동').agg(신호등수=('수량','sum')).reset_index()

In [481]:
df2

     행정동  신호등수
0    광장동     8
1   구의1동     3
2   구의2동     4
3   구의3동    16
4    군자동     5
5   자양1동    10
6   자양2동     8
7   자양3동     6
8   자양4동     2
9   중곡1동     6
10  중곡2동     3
11  중곡3동     5
12  중곡4동    11
13   화양동     2

In [482]:
df3['주차요금 5분당'].unique()

array(['250원', '0', '200원', '75원 ', '150원', '75원'], dtype=object)

In [483]:
df3

      동명               시설명  주차면수 소계 주차요금 5분당          경도         위도
0   중곡1동       중곡제일전통시장 공영       21     250원  127.081744  37.563863
1   중곡2동               장신구       22        0  127.084000  37.556402
2   중곡2동            중곡동복개천       78     200원  127.086222  37.560139
3   중곡3동          중곡3동마을공원      162     75원   127.084660  37.569907
4   중곡3동            중곡체육센터        6        0  127.084782  37.567763
5   중곡4동             신성시장길       33     250원  127.089886  37.557289
6   중곡4동               새오름        7        0  127.090864  37.561379
7   중곡4동              용마산남       25        0  127.092061  37.559117
8   중곡4동            긴고랑길공영       53        0  127.094478  37.563863
9   중곡4동               해오름       20        0  127.091651  37.557036
10  중곡4동  뻥튀기골주차장(용마공원주차장)       18        0  127.089378  37.568318
11  중곡4동     중곡4동 599-6 인근        9        0  127.089358  37.570282
12  중곡4동             한림대부지        8        0  127.088880  37.568345
13    능동              능동공영       77     150원  127.080217  37.554026
14    능동              능동공동       25        0  127.079673  37.553062
15  구의1동           구의1동 공영      172     150원  127.087849  37.538253
16  구의1동              구의번영       34        0  127.089010  37.544235
17  구의2동        구의2동 주택가공동       90      75원  127.092823  37.552917
18  구의2동              광문학당       12        0  127.090237  37.547928
19  구의2동         공원(동의초인근)       11        0  127.097339  37.553310
20  구의3동           동서울길 공영       94     250원  127.091634  37.533150
21  구의3동           구의3동 공영      159     150원  127.091347  37.539133
22  구의3동         올림픽대교(시영)       19        0  127.098904  37.538776
23   광장동                세촌        7        0  127.105526  37.548627
24   광장동             광장공동         8        0  127.101528  37.546423
25   광장동               큰나루       13        0  127.110315  37.550317
26  자양1동         자양전통시장 공영       24     250원  127.081576  37.533779
27  자양2동               유수지      281     150원  127.078268  37.529520
28  자양3동             송림식당길       94     200원  127.076033  37.534432
29  자양4동           자양4동 공영       86     150원  127.068162  37.538662
30  자양4동              행복제2       53        0  127.066308  37.540006
31   화양동        느티나무(화양공동)       27        0  127.071247  37.546598
32   화양동            화양동 공영       44     150원  127.071155  37.545283
33   화양동          화양동 마을마당        6        0  127.075229  37.545055
34   군자동            군자동 공영       53        0  127.076913  37.554055
35   군자동           광진광장 공영       36     250원  127.735722  34.742160

In [484]:
df3['주차요금 5분당']=df3['주차요금 5분당'].replace('250원','250').replace('200원','200').replace('75원','75').replace('150원','150').replace('75원 ','75')

In [485]:
df3['주차요금 5분당']=df3['주차요금 5분당'].astype(int)

In [486]:
df3.rename(columns={'동명':'행정동'},inplace=True)

In [487]:
df3=df3.groupby('행정동').agg(주차장수=('행정동','count'),주차면수소계=('주차면수 소계','sum'),주차요금5분=('주차요금 5분당','sum')).reset_index()
df3

     행정동  주차장수  주차면수소계  주차요금5분
0    광장동     3      28       0
1   구의1동     2     206     150
2   구의2동     3     113      75
3   구의3동     3     272     400
4    군자동     2      89     250
5     능동     2     102     150
6   자양1동     1      24     250
7   자양2동     1     281     150
8   자양3동     1      94     200
9   자양4동     2     139     150
10  중곡1동     1      21     250
11  중곡2동     2     100     200
12  중곡3동     2     168      75
13  중곡4동     8     173     250
14   화양동     3      77     150

In [488]:
df4.rename(columns={'동명':'행정동'},inplace=True)

In [489]:
df4=df4.groupby('행정동').agg(무인교통단속카메라수량=('행정동','count')).reset_index()

In [490]:
df4

     행정동  무인교통단속카메라수량
0    광장동            3
1   구의1동            2
2   구의2동            3
3   구의3동            8
4    군자동            6
5     능동            4
6   자양1동            1
7   자양2동            3
8   자양3동            1
9   자양4동            2
10  중곡1동            4
11  중곡2동            1
12  중곡3동            1
13  중곡4동            2
14   화양동            4

In [491]:
df5=df5.groupby('행정동').agg(CCTV수량=('행정동','count')).reset_index()
df5

     행정동  CCTV수량
0    광장동     264
1   구의1동     281
2   구의2동     330
3   구의3동     275
4    군자동     308
5     능동     209
6   자양1동     234
7   자양2동     287
8   자양3동     216
9   자양4동     287
10  중곡1동     198
11  중곡2동     251
12  중곡3동     288
13  중곡4동     356
14   화양동     307

In [492]:
df7.rename(columns={'ADM_DR_NM':'행정동'},inplace=True)
df7.rename(columns={'평균':'범죄율평균'},inplace=True)

In [493]:
df7

     행정동  범죄율평균
0    광장동    3.6
1   구의1동    1.4
2   구의2동    1.4
3   구의3동    3.6
4   자양1동    2.0
5   자양2동    2.4
6   자양3동    2.4
7   자양4동    2.6
8    화양동    3.0
9    군자동    3.0
10  중곡1동    1.4
11  중곡2동    1.2
12  중곡3동    1.8
13  중곡4동    1.6
14    능동    3.0

In [494]:
df8=df8.groupby('행정동').agg(불법주정차단속CCTV수량=('행정동','count')).reset_index()
df8
# 행정동 나누기

     행정동  불법주정차단속CCTV수량
0    광장동              3
1   구의1동              1
2   구의2동              4
3   구의3동              8
4    군자동              8
5     능동              4
6   자양1동              1
7   자양2동              4
8   자양3동              1
9   자양4동              3
10  중곡1동              5
11  중곡2동              2
12  중곡3동              1
13  중곡4동              3
14   화양동              5

In [495]:
df9.rename(columns={'동명':'행정동'},inplace=True)

In [496]:
df9.columns

Index(['주차장명', '주차면수', ' 시간당주차요금 ', '경도', '위도', '행정동'], dtype='object')

In [497]:
df9['행정동'].unique()

array(['구의3동', '자양3동', '군자동', '자양4동', '구의1동', '능동', '중곡3동', '자양2동', '화양동',
       '중곡2동', '중곡4동'], dtype=object)

In [498]:
df9=df9.groupby('행정동').agg(시설관리공단주차장수=('행정동','count'),주차면수=('주차면수','sum'),주차요금1시간=(' 시간당주차요금 ','sum')).reset_index()
df9

     행정동  시설관리공단주차장수  주차면수  주차요금1시간
0   구의1동           1   172      150
1   구의3동           3   252      650
2    군자동           1    36      250
3     능동           1    77       75
4   자양2동           1   289      150
5   자양3동           2   102      400
6   자양4동           1    86      150
7   중곡2동           2    79      400
8   중곡3동           1   163       75
9   중곡4동           1    38      250
10   화양동           1    44      150

In [499]:
df10.rename(columns={'동명':'행정동'},inplace=True)

In [500]:
df10=df10.groupby('행정동').agg(어린이보호구역=('행정동','count')).reset_index()
df10

     행정동  어린이보호구역
0    광장동        9
1   구의1동        3
2   구의2동        9
3   구의3동        6
4    군자동        8
5     능동        2
6   자양1동        6
7   자양2동        8
8   자양3동        7
9   자양4동        3
10  중곡2동        3
11  중곡3동       10
12  중곡4동        2
13   화양동        4

In [501]:
df11.rename(columns={'동명':'행정동'},inplace=True)

In [502]:
df11.columns

Index(['어린이집명', '어린이집유형구분', '정원수', '보육교직원수', '보육실수', '놀이터수', '행정동'], dtype='object')

In [503]:
df11=df11.groupby('행정동').agg({'정원수':'sum'}).reset_index()
df11

     행정동  정원수
0    광장동  472
1   구의1동  435
2   구의2동  540
3   구의3동  478
4    군자동  368
5     능동  195
6   자양1동  488
7   자양2동  401
8   자양3동  627
9   자양4동  350
10  중곡1동  163
11  중곡2동  473
12  중곡3동  596
13  중곡4동  548
14   화양동  208

In [504]:
df12=df12.drop(0).reset_index(drop=True)

In [505]:
df12.rename(columns={'행정기관':'행정동'},inplace=True)

In [506]:
df12

     행정동      계  인구수(남)  인구수(여)  지역(구성비)  구성비(남)  구성비(여)     성비    세대수  세대당인구
0   중곡1동  15299    7322    7977     4.53    2.17    2.36  91.79   8504   1.80
1   중곡2동  20999    9903   11096     6.22    2.93    3.29  89.25  10656   1.97
2   중곡3동  15945    7897    8048     4.73    2.34    2.39  98.12   8513   1.87
3   중곡4동  28035   13715   14320     8.31    4.06    4.24  95.78  13122   2.14
4     능동  11180    5134    6046     3.31    1.52    1.79  84.92   6406   1.75
5   구의1동  23387   11143   12244     6.93    3.30    3.63  91.01  13077   1.79
6   구의2동  26043   12511   13532     7.72    3.71    4.01  92.45  11517   2.26
7   구의3동  28211   13309   14902     8.36    3.94    4.42  89.31  12079   2.34
8    광장동  34168   16524   17644    10.13    4.90    5.23  93.65  11814   2.89
9   자양1동  21862   10646   11216     6.48    3.16    3.32  94.92  11913   1.84
10  자양2동  23946   11612   12334     7.10    3.44    3.66  94.15  10887   2.20
11  자양3동  27553   13166   14387     8.17    3.90    4.26  91.51  11009   2.50
12  자양4동  17926    8915    9011     5.31    2.64    2.67  98.93  10209   1.76
13   화양동  23437   11141   12296     6.95    3.30    3.64  90.61  18185   1.29
14   군자동  19425    9603    9822     5.76    2.85    2.91  97.77  11400   1.70

In [507]:
df = pd.merge(df1,df2,how='outer', on='행정동')
df = pd.merge(df,df3,how='outer', on='행정동')
df = pd.merge(df,df4,how='outer', on='행정동')
df = pd.merge(df,df5,how='outer', on='행정동')
df = pd.merge(df,df7,how='outer', on='행정동')
df = pd.merge(df,df9,how='outer', on='행정동')
df = pd.merge(df,df10,how='outer', on='행정동')
df = pd.merge(df,df11,how='outer', on='행정동')
df = pd.merge(df,df12,how='outer', on='행정동')

In [508]:
df

,행정동,사고건수,신호등수,주차장수,주차면수소계,주차요금5분,무인교통단속카메라수량,CCTV수량,범죄율평균,시설관리공단주차장수,...,정원수,계,인구수(남),인구수(여),지역(구성비),구성비(남),구성비(여),성비,세대수,세대당인구
0,광장동,284,8.0,3,28,0,3,264,3.6,NaN,...,472,34168,16524,17644,10.13,4.90,5.23,93.65,11814,2.89
1,구의1동,204,3.0,2,206,150,2,281,1.4,1.0,...,435,23387,11143,12244,6.93,3.30,3.63,91.01,13077,1.79
2,구의2동,204,4.0,3,113,75,3,330,1.4,NaN,...,540,26043,12511,13532,7.72,3.71,4.01,92.45,11517,2.26
3,구의3동,204,16.0,3,272,400,8,275,3.6,3.0,...,478,28211,13309,14902,8.36,3.94,4.42,89.31,12079,2.34
4,군자동,273,5.0,2,89,250,6,308,3.0,1.0,...,368,19425,9603,9822,5.76,2.85,2.91,97.77,11400,1.70
5,능동,134,NaN,2,102,150,4,209,3.0,1.0,...,195,11180,5134,6046,3.31,1.52,1.79,84.92,6406,1.75
6,자양1동,206,10.0,1,24,250,1,234,2.0,NaN,...,488,21862,10646,11216,6.48,3.16,3.32,94.92,11913,1.84
7,자양2동,206,8.0,1,281,150,3,287,2.4,1.0,...,401,23946,11612,12334,7.10,3.44,3.66,94.15,10887,2.20
8,자양3동,206,6.0,1,94,200,1,216,2.4,2.0,...,627,27553,13166,14387,8.17,3.90,4.26,91.51,11009,2.50
9,자양4동,206,2.0,2,139,150,2,287,2.6,1.0,...,350,17926,8915,9011,5.31,2.64,2.67,98.93,10209,1.76
10,중곡1동,139,6.0,1,21,250,4,198,1.4,NaN,...,163,15299,7322,7977,4.53,2.17,2.36,91.79,8504,1.80
11,중곡2동,139,3.0,2,100,200,1,251,1.2,2.0,...,473,20999,9903,11096,6.22,2.93,3.29,89.25,10656,1.97
12,중곡3동,139,5.0,2,168,75,1,288,1.8,1.0,...,596,15945,7897,8048,4.73,2.34,2.39,98.12,8513,1.87
13,중곡4동,139,11.0,8,173,250,2,356,1.6,1.0,...,548,28035,13715,14320,8.31,4.06,4.24,95.78,13122,2.14
14,화양동,457,2.0,3,77,150,4,307,3.0,1.0,...,208,23437,11141,12296,6.95,3.30,3.64,90.61,18185,1.29

In [509]:
df.isnull().sum()

행정동            0
사고건수           0
신호등수           1
주차장수           0
주차면수소계         0
주차요금5분         0
무인교통단속카메라수량    0
CCTV수량         0
범죄율평균          0
시설관리공단주차장수     4
주차면수           4
주차요금1시간        4
어린이보호구역        1
정원수            0
계              0
인구수(남)         0
인구수(여)         0
지역(구성비)        0
구성비(남)         0
구성비(여)         0
성비             0
세대수            0
세대당인구          0
dtype: int64

In [510]:
df=df.fillna(0)

In [511]:
df.isnull().sum()

행정동            0
사고건수           0
신호등수           0
주차장수           0
주차면수소계         0
주차요금5분         0
무인교통단속카메라수량    0
CCTV수량         0
범죄율평균          0
시설관리공단주차장수     0
주차면수           0
주차요금1시간        0
어린이보호구역        0
정원수            0
계              0
인구수(남)         0
인구수(여)         0
지역(구성비)        0
구성비(남)         0
구성비(여)         0
성비             0
세대수            0
세대당인구          0
dtype: int64

In [512]:
df

,행정동,사고건수,신호등수,주차장수,주차면수소계,주차요금5분,무인교통단속카메라수량,CCTV수량,범죄율평균,시설관리공단주차장수,...,정원수,계,인구수(남),인구수(여),지역(구성비),구성비(남),구성비(여),성비,세대수,세대당인구
0,광장동,284,8.0,3,28,0,3,264,3.6,0.0,...,472,34168,16524,17644,10.13,4.90,5.23,93.65,11814,2.89
1,구의1동,204,3.0,2,206,150,2,281,1.4,1.0,...,435,23387,11143,12244,6.93,3.30,3.63,91.01,13077,1.79
2,구의2동,204,4.0,3,113,75,3,330,1.4,0.0,...,540,26043,12511,13532,7.72,3.71,4.01,92.45,11517,2.26
3,구의3동,204,16.0,3,272,400,8,275,3.6,3.0,...,478,28211,13309,14902,8.36,3.94,4.42,89.31,12079,2.34
4,군자동,273,5.0,2,89,250,6,308,3.0,1.0,...,368,19425,9603,9822,5.76,2.85,2.91,97.77,11400,1.70
5,능동,134,0.0,2,102,150,4,209,3.0,1.0,...,195,11180,5134,6046,3.31,1.52,1.79,84.92,6406,1.75
6,자양1동,206,10.0,1,24,250,1,234,2.0,0.0,...,488,21862,10646,11216,6.48,3.16,3.32,94.92,11913,1.84
7,자양2동,206,8.0,1,281,150,3,287,2.4,1.0,...,401,23946,11612,12334,7.10,3.44,3.66,94.15,10887,2.20
8,자양3동,206,6.0,1,94,200,1,216,2.4,2.0,...,627,27553,13166,14387,8.17,3.90,4.26,91.51,11009,2.50
9,자양4동,206,2.0,2,139,150,2,287,2.6,1.0,...,350,17926,8915,9011,5.31,2.64,2.67,98.93,10209,1.76
10,중곡1동,139,6.0,1,21,250,4,198,1.4,0.0,...,163,15299,7322,7977,4.53,2.17,2.36,91.79,8504,1.80
11,중곡2동,139,3.0,2,100,200,1,251,1.2,2.0,...,473,20999,9903,11096,6.22,2.93,3.29,89.25,10656,1.97
12,중곡3동,139,5.0,2,168,75,1,288,1.8,1.0,...,596,15945,7897,8048,4.73,2.34,2.39,98.12,8513,1.87
13,중곡4동,139,11.0,8,173,250,2,356,1.6,1.0,...,548,28035,13715,14320,8.31,4.06,4.24,95.78,13122,2.14
14,화양동,457,2.0,3,77,150,4,307,3.0,1.0,...,208,23437,11141,12296,6.95,3.30,3.64,90.61,18185,1.29

In [513]:
df.columns

Index(['행정동', '사고건수', '신호등수', '주차장수', '주차면수소계', '주차요금5분', '무인교통단속카메라수량',
       'CCTV수량', '범죄율평균', '시설관리공단주차장수', '주차면수', '주차요금1시간', '어린이보호구역', '정원수',
       '계', '인구수(남)', '인구수(여)', '지역(구성비)', '구성비(남)', '구성비(여)', '성비', '세대수',
       '세대당인구'],
      dtype='object')

In [514]:
df['공영주차장수']=df['주차장수']+df['시설관리공단주차장수']
df['공영주차장주차면수']=df['주차면수소계']+df['주차면수']
df['공영주차장주차요금']=df['주차요금1시간']+df['주차요금5분']

In [515]:
df.drop(labels=['주차장수','시설관리공단주차장수','주차면수소계','주차면수','주차요금1시간','주차요금5분'],axis=1,inplace=True)

In [516]:
df.columns

Index(['행정동', '사고건수', '신호등수', '무인교통단속카메라수량', 'CCTV수량', '범죄율평균', '어린이보호구역',
       '정원수', '계', '인구수(남)', '인구수(여)', '지역(구성비)', '구성비(남)', '구성비(여)', '성비',
       '세대수', '세대당인구', '공영주차장수', '공영주차장주차면수', '공영주차장주차요금'],
      dtype='object')

In [517]:
ground=pd.read_csv(f'{folder_path}면적.csv',header=1)
ground

    동별(1) 동별(2) 동별(3)   인구 (명)  면적 (㎢)  인구밀도 (명/㎢)
0      합계    소계    소계  9667669  605.24       15973
1      합계   종로구    소계   152211   23.91        6366
2      합계   종로구   사직동     9355    1.23        7606
3      합계   종로구   삼청동     2642    1.49        1773
4      합계   종로구   부암동     9536    2.27        4201
..    ...   ...   ...      ...     ...         ...
447    합계   강동구  천호2동    33825    1.57       21545
448    합계   강동구    길동    45374    2.17       20910
449    합계   강동구   강일동    33057    2.26       14627
450    합계   강동구  상일1동    39178    2.65       14784
451    합계   강동구  상일2동    11933    0.54       22098

[452 rows x 6 columns]

In [518]:
ground=ground[ground['동별(2)']=='광진구'].reset_index(drop=True)

In [519]:
ground=ground.drop(0).reset_index(drop=True)
ground

   동별(1) 동별(2) 동별(3)  인구 (명)  면적 (㎢)  인구밀도 (명/㎢)
0     합계   광진구   화양동   27082    1.16       23347
1     합계   광진구   군자동   21524    0.74       29086
2     합계   광진구  중곡1동   15663    0.62       25263
3     합계   광진구  중곡2동   21336    0.55       38793
4     합계   광진구  중곡3동   16177    0.60       26962
5     합계   광진구  중곡4동   28405    2.32       12244
6     합계   광진구    능동   11561    1.10       10510
7     합계   광진구  구의1동   24049    0.56       42945
8     합계   광진구  구의2동   26573    1.39       19117
9     합계   광진구  구의3동   28440    1.02       27882
10    합계   광진구   광장동   34362    2.39       14377
11    합계   광진구  자양1동   22709    0.57       39840
12    합계   광진구  자양2동   24253    1.68       14436
13    합계   광진구  자양3동   27858    1.20       23215
14    합계   광진구  자양4동   21260    1.16       18328